* {
  box-sizing: border-box;
}
html {
  width: 100%;
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* font-family: "Inter", sans-serif; */
  font-family: "Noto Sans", sans-serif;
}
#root {
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.mapWrapper {
  width: 1000px;
  height: 100vh;
  z-index: 1;
}

.mapWrapperGeofence {
  width: 1000px;
  height: 100vh;
  z-index: 1;
}

.devicesCardWrapper {
  box-sizing: border-box;
  padding: 12px;
  width: calc(100vw - 1050px);
}

.devicesCard {
  padding: 4px 12px;
  width: 100%;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
}
.devicesCard > p {
  margin: 4px 0px;
}
.devicesCard > h3 {
  margin: 6px 0px;
}

.devicesCard button {
  margin: 6px 5px;
  padding: 4px 8px;
}

.devicesCard:hover {
  background-color: #79e69f;
}

.select-custom {
  padding: 4px 10px; /* py-3 px-4 */
  background-color: white;
  color: black;
  border-radius: 6px; /* rounded-2xl */
  border: 1px solid #d1d5db; /* border-gray-300 */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); shadow-md */
  transition: all 0.2s ease;
  z-index: 100;
  height: 30px;
  margin-left: 4px;
}

.select-custom:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px #db6d1d; */
}
.mobileNav {
  display: none;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }

  .mapWrapper {
    width: 100vw;
    height: calc(100vh - 180px);
  }

  .mapWrapperGeofence {
    width: 100vw;
    height: 100vh;
  }
  .devicesCardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none !important;
  }
  .devicesCardWrapper2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .devicesCard {
    font-size: 12px;
  }
  .header {
    display: none !important;
  }
  .mobileNav {
    display: flex;
    position: fixed;
    top: 14px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    font-weight: 600;
  }
  .mobileNav > div:nth-of-type(1) {
    display: flex;
    top: 6px;
    min-width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border: 1px solid rgb(184, 180, 180);
    font-weight: 600;

    box-sizing: border-box;
  }
  .mobileNavVevices {
    display: flex;
    top: 6px;
    min-width: 50px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border: 1px solid rgb(184, 180, 180);
  }
  .mobileNavVevices2 {
    display: flex;
    top: 6px;
    min-width: 160px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px 0px 8px;
    border: 1px solid rgb(184, 180, 180);
  }
}
