/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.mapWrapper {
  width: 1000px;
  height: 100vh;
}
.devicesCardWrapper {
  box-sizing: border-box;
  padding: 12px;
  width: calc(100vw - 1050px);
}

.devicesCard {
  padding: 4px 12px;
  width: 100%;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
}
.devicesCard > p {
  margin: 4px 0px;
}
.devicesCard > h3 {
  margin: 6px 0px;
}

.devicesCard button {
  margin: 6px 5px;
  padding: 4px 8px;
}

.devicesCard:hover {
  background-color: #79e69f;
}

.select-custom {
  padding: 4px 10px; /* py-3 px-4 */
  background-color: white;
  color: black;
  border-radius: 6px; /* rounded-2xl */
  border: 1px solid #d1d5db; /* border-gray-300 */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); shadow-md */
  transition: all 0.2s ease;
  z-index: 100;
  height: 30px;
  margin-left: 4px;
}

.select-custom:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px #db6d1d; */
}
.mobileNav {
  display: none;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: auto;
  }
  .mapWrapper {
    width: 100vw;
    height: 100vh;
  }
  .devicesCardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none !important;
  }
  .devicesCardWrapper2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .devicesCard {
    font-size: 12px;
  }
  .header {
    display: none !important;
  }
  .mobileNav {
    display: flex;
    position: fixed;
    top: 14px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    font-weight: 600;
  }
  .mobileNav > div:nth-of-type(1) {
    display: flex;
    top: 6px;
    min-width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border: 1px solid rgb(184, 180, 180);
    font-weight: 600;

    box-sizing: border-box;
  }
  .mobileNavVevices {
    display: flex;
    top: 6px;
    min-width: 50px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border: 1px solid rgb(184, 180, 180);
  }
  .mobileNavVevices2 {
    display: flex;
    top: 6px;
    min-width: 160px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px 0px 8px;
    border: 1px solid rgb(184, 180, 180);
  }
}
